<% include partials/header %>
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome to, Yelp Campground Project</h1>
          <p class="lead">Welcome to this amazing project which contains campground from all over the world</p>
        </div>
        <div class="container">
                <a class="btn btn-primary btn-lg" href="/campgrounds">View All campgrounds</a>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add your Campground</a>
          </div>
      </div>
     
   
<% include partials/footer %>